<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Login jose</title>
<link href="../styles/estilo_login.css" rel="stylesheet">
</head>
<body>
		<h1>Login</h1>
		<div id="caja">
		<form id="Login">
			<input type="email" id="correo" name="correo" placeholder="correo" minlength="1" maxlength="50" required>
			<br>
			<input type="password" id="pass"  name="pass" placeholder="contraseña" minlength="8" maxlength="16" required>
			<br>
			<button id="boton" name="boton">enviar</button>
		</form>
		</div>
		
		<script src="../scripts/login.js" type="text/javascript"></script>
</body>
</html>